/* this file contains small custom css */
* {
    font-size: 0.9rem;
    user-select: none;
}

*:focus {
    outline: none;
}

.cursor-pointer {
    cursor: pointer;
}

.icon-font {
    font-size: 24px;
}

.wh-100 {
    width: 100vw;
    height: 100vh
}
